---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Concept from "../components/Concept.astro";
import InterlagosTrack from "../components/InterlagosTrack.astro";
import Etapas from "../components/Etapas.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";
---

<Layout title="Interlagos Private Track Club">
  <Navbar />
  <main>
    <Hero />
    <Concept />
    <InterlagosTrack />
    <Etapas />
    <Form />
  </main>
  <Footer />
  <WhatsAppButton />
</Layout>
